---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog | Jay - Software Agency and creative IT solutions">
    <!-- Start breadcrumbs section -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrapper">
                        <div class="breadcrumb-cnt">
                            <span>New</span>
                            <h1>The best insights and learnings from the Jay Software team & community.</h1>
                            <div class="breadcrumb-list">
                                <a href="/">Home</a> → Blog
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumbs section -->
    <div class="blog-banner sec-mar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-banner-wrap">
                        <div class="banner-img">
                            <img src="/assets/img/home-3/ilust-grids.webp" alt="">
                        </div>
                       <div class="banner-content">
                            <h2>Blog</h2>
                            <p>Join 50,000+ Subscribers</p>
                            <form>
                                <div class="form-inner">
                                    <input type="text" placeholder="Email here...">
                                    <button type="submit">
                                        Subscribe
                                        <svg width="12" height="12" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 1H12M12 1V13M12 1L0.5 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </form>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>