---
interface Props {
  title: string;
}
import SpeedInsights from "@vercel/speed-insights/astro";
import {ViewTransitions} from "astro:transitions";
import NavComponent from "src/components/NavComponent.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
      <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-199007470-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-199007470-1');
    </script>


    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="Jay Software - Custom Software Solutions" />
    <meta property="og:description" content="We specialize in providing custom software solutions tailored to your business needs." />
    <meta property="og:image" content="/assets/img/jay-logo.svg" />
    <meta property="og:url" content="https://jay-software.com" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Jay Software" />

      <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="/assets/img/jay-logo.svg" />
    <meta name="twitter:site" content="@jay-software" />
    <meta name="twitter:title" content="Jay Software - Custom Software Solutions" />
    <meta name="twitter:description" content="We specialize in providing custom software solutions tailored to your business needs." />
    <meta name="twitter:image" content="/assets/img/jay-logo.svg" />


    <!-- Bootstrap CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Icon CSS -->
    <link href="/assets/css/bootstrap-icons.css" rel="stylesheet" />

    <!-- BoxIcon  CSS -->
    <link href="/assets/css/boxicons.min.css" rel="stylesheet" />
    <!--  Style CSS  -->
    <link rel="stylesheet" href="/assets/css/preloader.css" />
    <link rel="stylesheet" href="/assets/css/style2.css" />
    <!-- Title -->
    <title>{title}</title>
    <meta name="description" content="We specialize in providing custom software solutions tailored to your business needs." />
    <link
      rel="icon"
      href="/assets/img/sm-logo.svg"
      type="image/gif"
      sizes="20x20"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SpeedInsights />
    <ViewTransitions />
  </head>
  <body class="home-dark2 tt-magic-cursor">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-N3FJ468Q"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <NavComponent />
    <!-- End header section -->
    <slot />
    <!-- Start Footer section -->
    <footer>
      <div class="footer-btm">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="footer-btn-content">
                <div class="copyright-area flex gap-2">
                  <p>
                    ©Copyright <span id="copyrightYear"></span> Jay Software
                  </p>
                  <p>
                    <a href="/privacy">Privacy</a>
                  </p>
                </div>
                <div class="footer-social">
                  <ul>
                    <li>
                      <a
                        href="https://www.facebook.com/jaysoftwarero/"
                        aria-label="Facebook"
                        target="_blank"><i class="bx bxl-facebook"></i></a
                      >
                    </li>
                    <li>
                      <a
                        href="https://ro.linkedin.com/company/jaysoftware"
                        aria-label="LinkedIn"
                        target="_blank"><i class="bx bxl-linkedin"></i></a
                      >
                    </li>
                    <li>
                      <a
                        href="https://www.instagram.com/jay_software/"
                        aria-label="Instagram"
                        target="_blank"><i class="bx bxl-instagram"></i></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer section -->
    <script is:inline>
      var currentYear = new Date().getFullYear();
      document.getElementById("copyrightYear").textContent = currentYear;
    </script>
     <script is:inline>
      const words = [
        "Hello, World!",
        "Welcome to my website!",
        "This is a typewriter effect.",
      ];
      let i = 0;
      let j = 0;
      let currentWord = "";
      let isDeleting = false;

      function type() {
        currentWord = words[i];
        const typewritter = document.getElementById("typewriter");
        if (!typewritter) return;

        if (isDeleting) {
          typewritter.textContent = currentWord.substring(0, j - 1);
          j--;
          if (j == 0) {
            isDeleting = false;
            i++;
            if (i == words.length) {
              i = 0;
            }
          }
        } else {
          typewritter.textContent = currentWord.substring(0, j + 1);
          j++;
          if (j == currentWord.length) {
            isDeleting = true;
          }
        }
        setTimeout(type, 100);
      }

      type();
    </script>
  </body>
</html>
